@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: absolute;
  top: 0;
}

/* heading styling starts here */
.heading .wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo a {
  color: #fff;
  font-size: 38px;
}

.heading form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading input {
  padding: 8px 25px 8px 8px;
  border: none;
  font-size: 11px;
  outline: none;
  letter-spacing: .5x;
}

.heading button,
.newsletter button {
  padding: 7px 12px;
  border: none;
  background: #369fe3;
  color: #fff;
  font-size: 12px;
  outline: none;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.heading button:hover,
.newsletter button:hover { background: #225fab; }
/* heading styling ends here */

/* nav styling starts here */
nav {
  padding: 5px 0;
  margin: 13px 0;
  background: #2977c0;
}

.menu, 
.close { 
  display: none; 
  cursor: pointer;
}

nav ul li {
  margin: 0 12px;
  position: relative;
}

nav ul li a:after {
  content: '';
  width: 1px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: -15px;
  background: #dddfdf;
}

nav ul li:last-child a:after { width: 0; }

nav ul li a {
  color: #dddfdf;
  font-family: sans-serif;
  font-size: 11px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

nav ul li a:hover { color: #fff; }
/* nav styling ends here */

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling ends here */
.banner {
  height: 435px;
  background: #225fab;
}

.banner .wrapper {
  padding-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner h2 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
}

.banner p {
  width: 50%;
  color: #369fe3;
  font-size: 26px;
  line-height: 30px;
}
/* banner styling ends here */

/* newsletter form styling starts here */

.newsletter {
  padding-bottom: 50px;
  margin: 20px 0 50px 0;
}

.newsletter small,
.newsletter small strong a {
  color: #000;
  font-size: 11px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.newsletter small strong a { letter-spacing: .7px; }
.newsletter small strong a:hover { margin-left: 10px; }
.newsletter span { margin: 0 8px; }

.newsletter h2 {
  margin: 12px 0 16px 0;
  color: #2977c0;
  font-size: 28px;
}

.newsletter form div {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.newsletter label {
  margin-bottom: 7px;
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: .5px;
}

.newsletter input[type="text"],
.newsletter input[type="email"],
.newsletter input[type="number"],
.newsletter select {
  width: 32%;
  padding: 7px 0;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 9px -5px #000;
  box-shadow: inset 0 0 9px -5px #000;
  font-size: 11px;
  text-indent: 6px;
  outline: none;
}

.newsletter select {
  background: #369fe3;
  color: #fff;
}

.error {
  display: none;
  color: #e91d2e;
  font-size: 10px;
}

.newsletter p {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .7px;
}

.newsletter p a { 
  -webkit-transition: .5s ease; 
  -o-transition: .5s ease; 
  transition: .5s ease; 
}

.newsletter p a:hover { margin-left: 10px; }

.newsletter .checks { 
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: normal; 
  -ms-flex-direction: row; 
  flex-direction: row; 
}

.newsletter .checks label { margin: 3px 0 0 5px; }
.newsletter .checks:nth-of-type(2) { margin-bottom: 20px; }
input[type="checkbox"],
select { cursor: pointer; }

.newsletter button {
  width: 19%;
  border-radius: 3px;
}

/* newsletter form styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { background: #1f58a0; }

.fContent {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fContent .logo {
  padding: 0 0 5px 0;
  margin: 0;
  border-bottom: 1px solid #2977c0;
}

.fContent .logo a {
  padding-right: 20px;
  font-size: 30px;
}

.fContent > li {
  width: 100%;
  padding-right: 30px;
  margin-right: 30px;
  color: #fff;
}

.fContent > li:nth-of-type(2),
.fContent > li:nth-of-type(3) { margin-top: 10px; }

.fContent > li:nth-of-type(2) h2,
.fContent > li:nth-of-type(3) h2 { margin-bottom: 10px; }

.fContent > li:nth-of-type(2) ul li a {
  color: #fff;
  font-size: 12px;
  letter-spacing: .6px;
}

.fContent li small {
  padding-top: 40px;
  color: #fff;
  font-size: 12px;
}

.fContent li small a {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 12px;
}

.fContent li:nth-of-type(2) > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 15px;
}

.fContent li:nth-of-type(2) > ul li a:hover,
.fContent li small a:hover {
  color: #a6bbbb;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.fContent li:nth-of-type(3) ul {
  width: 10px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fContent li:nth-of-type(3) ul li { 
  width: 30px;
  height: 27px;
  padding: 0;
  margin: 0 15px 0 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
}

.fContent li:nth-of-type(3) ul li a {
  padding: 10px;
  font-size: 14px;
}

.fContent li:nth-of-type(3) ul li:nth-of-type(1) a {color: #225fab; }
.fContent li:nth-of-type(3) ul li:nth-of-type(2) a {color: #369fe3; }
.fContent li:nth-of-type(3) ul li:nth-of-type(3) a {color: #e91d2e; }
.fContent li:nth-of-type(3) ul li:nth-of-type(4) a {color: #1f58a0; }

.fContent li:nth-of-type(3) ul li a:hover {
  color: #a6bbbb;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.fInfo { background: #18366b; }

.fInfo .wrapper {
  padding: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fInfo ul li::after {
  content: '';
  width: 1px;
  height: 10px;
  position: absolute;
  top: 7px;
  right: -6px;
  background: #a6bbbb;
}

.fInfo ul li { 
  margin-right: 8px;
  position: relative; 
}

.fInfo ul li a, 
span {
  color: #a6bbbb;
  font-family: sans-serif;
  font-size: 10px ;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.fInfo ul li a:hover { color: #fff; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  